<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        {{#if logged_in}}
        <nav class="navbar">
            <div class="logo">
                <h1>The Tech Blog</h1>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a id="logout" href="#">Logout</a></li>
            </ul>
        </nav>
        {{else}}
        <nav class="navbar">
            <div class="logo">
                <h1>The Tech Blog</h1>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
        <script>src="/js/alert.js"$</script>
        {{/if}}
    </header>
    <main>
        {{{body}}}
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>